<title>Add City</title>
<h1>Add A New City!</h1>
<%= form_tag :action => 'create' %>
<div id="formcontrols">
	<p>
		<label for="name">City Name</label>:
		<%= text_field 'city', 'name'%>
	</p>
	<p>
		<label for="latitude">Latitude</label>:
		<%= text_field 'city', 'latitude'%>
	</p>
	<p>
		<label for="longitude">Longitude</label>:
		<%= text_field 'city', 'longitude'%>
	</p>
</div>
<%= submit_tag "Create"%>
<div id="navigation">
	<%= link_to 'Back', {:controller => 'people', :action => 'index'}%>
</div>